
 <div class="row row_bg_1">
            	<div class="col-md-12 menu">                                
                	
                </div>
        </div>
        
		<div class="row row_bg_2">
        	<div class="col-md-12">
            	<ul class="nav navbar-nav list1" id="bread">
                    	<li><a class="bread_crum" href="/">RIA Workshop</a></li>
                        <li><a class="bread_crum" id="section_title" href="#">The Plight Of The Ria</a></li>
                       <li><a class="bread_crum" id="video_title" href="#">Overview</a></li>
                </ul>      
            </div>
        </div>        
        
        <div class="row row_bg_3">
        	<div class="col-md-3 left_list">
        		<h4 class="ria_work"><a href="/"> RIA Workshop Series </a></h4> 
        		<% @sections.each do |section| %>
                 <h4 class="ria_work section_title"><%= section["name"] %></h4>  
        			<div class="col-md-12 box mragn_0">    

	                <div class="col-md-10 mragn_0">
	                <ul class="list-unstyled">
	                	<% section["video"].each do |video| %>
	                		<li>
	                			<% if (video['lock'] == 'true') %>
                                <i class="fa <%= video['lock'] == 'true' ? 'fa-lock' : 'fa-unlock' %>"></i> <%= link_to video["title"], lock_video_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
		                			
	                			<% else %>
	                				<a onclick="setVideo(<%= video['link'] %>, '<%= video['questionHtml'] %>','<%= video['title'] %>','<%= section["name"] %>');">
	                				<i class="fa <%= video['lock'] == 'true' ? 'fa-lock' : 'fa-unlock' %>"></i><%=video["title"] %>
	                				</a>
	                			<% end %>  
	                			
	                		</li>
	                	<% end %>
	            	 </ul>
	                </div>
	                <div class="col-md-2 mragn_0">
                	<ul class="list-unstyled">
                		<% section["video"].each do |video| %>
	                		<li><%= video["duration"] %></li>
	                	<% end %>
                	</ul>    
                	</div>
                <div class="col-md-12 text-right mragn_0 section3">Section Total-20m21s</div>
                </div>
        		<% end %>
            </div><!--col md 3-->
            <div class="col-md-9 mragn_0">
            	<iframe id="vimeo-player" src="//player.vimeo.com/video/132265498" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <div class="col-md-6 text-center textmore">
					<ul class="list-unstyled list-inline three_images">
                    	<li><img src="/assets/one.png"/></li>
                        <li>More on this topic</li>
                        <ul class="list-unstyled ish_one">
                          <li>Link</li>
                          <li>Link</li>
                        </ul>

                    </ul>
                </div>
                <div class="col-md-6 text-center textmore">
                	<ul class="list-unstyled list-inline three_images">
                    	<li><img src="/assets/two.png"/></li>
                        <li>Related Topics</li>
                        <ul class="list-unstyled ish_one">
                          <li>Link</li>
                          <li>Link</li>
                        </ul>

                    </ul>
                </div>
                <!--col-md-4-->
                <div class="col-md-12 activity">Activity - Change The Conversation - Competition</div>
                <%= content_tag :a, "Modal", href: "#modal", class: 'btn', data: {toggle: 'modal'} %>

<%= modal_dialog id: "modal",
         header: { show_close: true, dismiss: 'modal', title: 'Modal header' },
         body:   { content: 'This is the body' },
         footer: { content: content_tag(:button, 'Save', class: 'btn') } %>
                <iframe id="question_block" src="blank.html" class="col-md-12 que_box" width="500" height="350" > </iframe> 
                <!-- <div id= "question_block" class="col-md-12 que_box">
                      <div class="col-md-12">How many SEC-registered investment advisors are in your zip code?</div>
					                      <table width="200" border="0">
					  <tr>
					    <td><input name="" type="checkbox" value="" /></td>
					    <td>10 or less</td>    
					  </tr>
					  <tr>
					    <td><input name="" type="checkbox" value="" /></td>
					    <td>20</td>
					  </tr>
					  <tr>
					    <td><input name="" type="checkbox" value="" /></td>
					    <td>30</td>
					  </tr>
					  <tr>
					    <td><input name="" type="checkbox" value="" /></td>
					    <td>40+</td>
					  </tr>
					</table>
                      <div class="col-md-12">Who is your biggest competition for HNWI?</div>
                </div>-->
                
            </div><!--col-md-9-->
        </div><!--row-->
       
<script type="text/javascript">
	function setVideo(link, question, video_title, section_title) {	
		var player_link = "//player.vimeo.com/video/";
    	document.getElementById('vimeo-player').src = player_link + link;
    	//question = question || false;
    	if(question)
            jQuery("#question_block").attr("src",question);
        jQuery('iframe#question_block').load(function() {
            document.getElementById("question_block").contentDocument.body.style.float="left";
            document.getElementById("question_block").contentDocument.body.style.marginleft="20px";
        });
        jQuery("#video_title").html(video_title);
        jQuery("#section_title").html(section_title);
    		//jQuery("#question_block").html("<%= escape_javascript(render(:partial => 'main/profile_margin')) %>");
	}   
$(document).ready(function () {
	setVideo("<%= @video_link_id %>");
});
</script>
